.row-align-items-center.mc-row
  .col-align-self-center.mc-col
    h1 {{app.greeting}}
    h2
      span Server Status: 
      span(ng-class="{red: app.serverState === 'stopped', green: app.serverState === 'running', yellow: app.serverState === 'pending', orange: app.serverState === 'stopping'}") {{app.serverState}}
    h3 52.66.133.220
    .buttons(ng-if="app.serverState !== ''")
      .mc-button(ng-class="{working: app.serverState === 'pending' || app.serverState === 'stopping'}")
        div(ng-switch="app.serverState" ng-click="app.toggleServer()")
          span(ng-switch-when="stopped") START SERVER
          span(ng-switch-when="running") STOP SERVER
          span(ng-switch-default) ...